__pycache__/
*.pyc
*.pth
*.npy
*.png
.env
ec523_env/
.cache/
depth/
checkpoints/
# Environments
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Datasets / Large files
kitti-data/
*.pt
*.pth

# Mac specific
.DS_Store
